* {
	  background-color: #D8DEE9;
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font Mono";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
	background-color: #2E3440;
	border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background: @background-alt;
    color: @foreground;
}

#workspaces button.active {
    background: @primary;
    color: @background;
}

#workspaces button.urgent {
    background: @urgent;
}

#window {
    padding: 0 10px;
    background: @background-alt;
    color: @foreground;
}

#clock, #network, #pulseaudio, #battery, #tray, #custom-power {
    padding: 0 10px;
    background: @background-alt;
    color: @foreground;
}

#network.disconnected {
    color: @warning;
}

#pulseaudio.muted {
    color: @warning;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @critical;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @urgent;
}
